<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용방법</title>
    <link rel="stylesheet" type="text/css" href="../css/use.css">
</head>
<body>
  <h3 class="menu-bar con-min-width">
    <div class="con">
        <nav class="menu-bar__menu-box-1 text-align-center">
            <ul class="inline-grid">
                <li><a href="https://yyejinn.github.io/open55555.github.io/index.html">Weather Home</a></li>
                <li><a href="trend.html">Trend Analysis</a></li>
                <li><a href="method_of_use.html">Method of Use</a></li>
                <li><a href="situation.html">Situation</a></li>
                <li><a href="season.html">Season</a></li>
                <li><a href="qna.html">Review</a></li>
            </ul>
        </nav>
    </div>
  </h3>

  <div class="container">
    <h1>사용방법</h1>
    <h2>
      <img src="../images/search.png" alt="검색창 이미지" class="search-image">
      1. 검색창에 자신의 위치 정보를 작성한다.</h2>
    <ul>
      <li class="one">(1) 특별시/광역시/도만을 아는 경우<br></li>
      <li class="two">예: 제주특별자치도 0 0<br></li>
      <li class="one">(2) 시/군/구까지 아는 경우<br></li>
      <li class="two">예: 제주특별자치도 제주시 0<br></li>
      <li class="one">(3) 읍/면/동까지 아는 경우<br></li>
      <li class="two">예: 제주특별자치도 제주시 아라동<br></li>
    </ul>

    <h2>
      2. Enter를 눌러 검색한다.</h2>
    <p>자신의 위치 정보를 입력한 후 검색 버튼을 클릭하여 오늘의 날씨를 확인합니다.</p>

    <h2>
      3. 오늘의 온도와 기상상태를 확인한다.</h2>
    <p><img src="../images/recom1.png" alt="현재 날씨 이미지" class="recom1-image">
      현재 날씨 정보를 확인하고, 기온과 기상 상태를 살펴봅니다.</p>

    <h2>
      4. 추천 옷차림을 참고한다.</h2>
    <p><img src="../images/recom2.png" alt="추천 옷차림 이미지" class="recom2-image">
      오늘의 날씨에 맞는 추천 옷차림을 확인하고 준비합니다.</p>

    <h2>5. 멋쟁이가 된다 - !</h2>
    <p>추천 옷차림을 따라 멋쟁이가 되어보세요!</p>
  </div>

</body>
</html>
