<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트렌드</title>
    <link rel="stylesheet" type="text/css" href="../css/trend.css">
</head>
<body>
    <h3 class="menu-bar con-min-width">
        <div class="con">
            <nav class="menu-bar__menu-box-1 text-align-center">
                <ul class="inline-grid">
                    <li><a href="/open55555.github.io/index.html">Weather Home</a></li>
                    <li><a href="mysite/myapp/templates/trend_analysis.html">Trend Analysis</a></li>
                    <li><a href="mysite/myapp/templates/method_of_use.html">Method of Use</a></li>
                    <li><a href="mysite/myapp/templates/situation.html">Situation</a></li>
                    <li><a href="mysite/myapp/templates/season.html">Season</a></li>
                    <li><a href="mysite/myapp/templates/review.html">Review</a></li>
                </ul>
            </nav>
        </div>
    </h3>

    <div class="container">
        <div class="trend-section-pantone">
            <h2>2024 PANTONE <br>13-1023 Peach Fuzz</h2>
            <img src="../images/panton.png" width="300" height="300" alt="PANTONE 13-1023 Peach Fuzz">
            <div class="trend-content-pantone">
                <div class="text">
                    <p>2024년의 대표 색상인 PANTONE 13-1023 Peach Fuzz는 모든 것을 포용하는 색으로, <br>
                        몸과 마음 그리고 영혼을 풍요롭게 만드는 벨벳처럼 부드러운 복숭아색입니다.</p>
                </div>
            </div>
        </div>

        <div class="trend-section">
            <h2>1. Y2K</h2>
            <div class="trend-content">
                <img src="../images/y2k.png" width="300" alt="Y2K 패션">
                <div class="text">
                    <p>
                    Y2K란 Y=Year, 2=2, K=Kilo(1000)의 합성어로 '2000년'을 뜻한다.
                        이는 패션계로 넘어오면서 2000년대 초반 옷차림을 상징하는 단어가 됐다.<br><br>
                    하이틴과 촌스러움 사이에서 키치(Kitsch)한 감성을 뽐내는 Y2K 패션은
                    골반이 드러날 정도로 내려 입은 로우 라이즈(Low rise) 스타일의 통 넓은 데님 팬츠,
                    배꼽이 보일 정도로 짧은 상의, 그리고 과하게 반짝이고 볼드한 액세서리와 볼캡, 헤드셋을 이용한 코디가 특징이다.</p>
                </div>
            </div>
        </div>

        <div class="trend-section">
            <h2>2. 올드머니</h2>
            <div class="trend-content">
                <img src="../images/old.png" width="300" alt="올드머니 패션">
                <div class="text">
                    <p>올드머니(OLD MONEY)는 기존의 상류층들을 일컫는 말로 신흥 부자를 뜻하는 뉴머니(NEW MONEY)와 대조되는 개념이다. <br><br>
                        이런 올드머니가 주로 즐기는 승마, 테니스, 요트의 스포츠웨어를 일상복에 녹여낸 옷이나 미국 명문 사립학교의 스쿨룩에서 비롯한 패션이 올드머니룩의 기반이다. <br><br>
                        올드머니룩은 무채색과 뉴트럴색을 이용한 톤온톤(tone on tone) 스타일링과 과한 액세서리를 피하는 절제의 미학을 추구한다. <br><br>
                        특히 캐시미어, 린넨, 트위드 같은 소재를 주로 활용한다.
                    </p>
                </div>
            </div>
        </div>

        <div class="trend-section">
            <h2>3. 고프코어</h2>
            <div class="trend-content">
                <img src="../images/gorpcore.png" width="300" alt="고프코어 패션">
                <div class="text">
                    <p>‘고프코어(Gorp Core)’는 2017년 5월 뉴욕 패션 매거진 『더 컷(The Cut)』에서 처음 생겨난 말로 ‘고프(Gorp)’와 ‘놈코어(Normcore)’라는 단어를 합쳐 만든 합성어다. <br><br>
고프코어는 애슬레저, 테크 웨어, 놈코어, 미노코어, 아메카지, 시티 보이 등 다양한 패션 트렌드 속 주류로 자리잡은 하나의 스타일이고 그 뿌리는 애슬레저룩에서 시작하고 있다.<br><br>
                        고프코어는 아웃도어 의류와 일상복을 결합한 스타일로
                        기능성과 패션을 동시에 만족시키는 것이 특징입니다. <br><br>
                        방수 재킷, 등산용 바지, 트레일 슈즈 등이 인기를 끌고 있습니다.</p><br>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
