@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  font-size: 5px;
  text-decoration: none;
  transition: color 0.3s;
}

a:link,
a:visited {
  color: #76c7e4;
}

a:hover,
a:active {
  color: #bdbebd;
}

.con {
  margin-left: auto;
  margin-right: auto;
  font-family: 'SBAggroB';
  color: #76c7e4;
}

.menu-bar__menu-box-1 > ul {
  text-align: center;
}

.menu-bar__menu-box-1 > ul > li {
  display: inline-block;
}

.menu-bar__menu-box-1 > ul > li > a {
  display: block;
  font-size: 20px;
  padding: 10px 30px;
}

body {
  display: contents;
}

.main {
  margin-top: 175px;
  text-align: center;
}

.input-box {
  margin-top: 20px;
  width: 584px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #96d2ea;
  padding-left: 30px;
  padding-right: 80px;
}

.input-box:focus {
  outline: none;
  border-color: #ffffff; /* 포커스 시 테두리 색상 */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-icon {
  position: relative;
  right: 45px;
  color: #96d2ea;
  border: 0;
  background-color: transparent;
}

.content {
  font-family: 'SBAggroB';
  font-weight: normal;
  font-style: normal;
  color: #76c7e4;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(200, 200, 200, 0.8), 2px 2px 4px rgba(255, 255, 255, 0.4);
}

.content2 {
  font-family: 'SBAggroB';
  font-weight: normal;
  font-style: normal;
  color: #76c7e4;
  font-size: 30px;
}

p {
  margin-bottom: 1px;
}
